<!--
 * @Description: 
 * @Author: baiyi
 * @Date: 2022-01-25 14:54:31
 * @LastEditTime: 2022-02-25 13:39:31
 * @LastEditors: baiyi
 * @Reference: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/click.js"></script>
</head>

<body>
    <h1>疫情</h1>
    <h2>正文</h2>
    <button id="btn">点击</button>
    <script>
        $("#btn").click(function(){
            // $.ajax({
            //     type: "POST",
            //     url: "{{url_for('click.get_num')}}",
            //     dataType: "json",
            //     success: function(data){
            //         $("h2").html("总人数:"+data+"人")

            //     }, 
            //     error: function () {
            //         alert("发送ajax请求失败")
            //     }
            // })
            alert("test")
        })

    </script>

</body>

</html>