<!--
 * @Description: 
 * @Author: baiyi
 * @Date: 2022-02-18 10:36:20
 * @LastEditTime: 2022-02-18 11:17:43
 * @LastEditors: baiyi
 * @Reference: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <style>
        #box {
            background: forestgreen;
            /* height:50px; */
            border: solid red;
        }
    </style>
</head>

<body>
    <div id="box">
        zhwengwenfsdddddddddddddddddddddddddddddddddddddddd ddfs
        <p>dasdad</p>
        <p>dadasd</p>
    </div>

    <button onclick="changeColor()">点击</button>

    <script>
        function changeColor() {
            var box = document.getElementById("box")
            box.style.background = "#" + String(Math.random()).slice(2, 5)
        }

    </script>
</body>

</html>